a {
  color: inherit;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.App-link {
  color: #61dafb;
}

.Name {
  color: "green";
}

.Slider {
  position: absolute;
  overflow: hidden;
  top: 0;
  align-content: center;
  justify-content: center;
}

.Slider-item {
  font-size: 3vh;
  margin: auto 10vw;
  display: inline;
  opacity: 0.2;
}

.Slider-item.active-enter-done {
  opacity: 1;
}

.Slider-item.active-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.Slider-item.active-exit {
  opacity: 1;
}

.Slider-item.active-exit-active {
  opacity: 0.2;
  transition: opacity 1s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
